name: media

networks:
  default:
    name: ${NETWORK_NAME}
    external: true

services:
  plex:
    container_name: plex
    image: lscr.io/linuxserver/plex:latest
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
      VERSION: docker
    volumes:
      - ${APP_DATA}/plex:/config
      - ${DATA}:/data
    restart: unless-stopped
    labels:
      npm.proxy.domain: plex.${DOMAIN_NAME}
      npm.proxy.port: "32400"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/plex.png
      net.unraid.docker.webui: http://plex.${DOMAIN_NAME}

  plextraktsync:
    container_name: plextraktsync
    image: lscr.io/linuxserver-labs/plextraktsync:latest
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/plextraktsync:/config
    restart: unless-stopped
    labels:
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/trakt.png

  seerr:
    container_name: seerr
    image: ghcr.io/seerr-team/seerr:develop
    init: true
    environment:
      LOG_LEVEL: debug
      TZ: ${TZ}
    ports:
      - 5055:5055
    volumes:
      - ${APP_DATA}/seerr:/app/config
    restart: unless-stopped
    labels:
      npm.proxy.domain: request.${DOMAIN_NAME}
      npm.proxy.port: "5055"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/overseerr.png
      net.unraid.docker.webui: http://request.${DOMAIN_NAME}
      
  # music-assistant:
  #   image: ghcr.io/music-assistant/server:beta
  #   container_name: music-assistant
  #   # Network mode must be set to host for MA to work correctly
  #   network_mode: host
  #   # privileged caps (and security-opt) needed to mount smb folders within the container
  #   cap_add:
  #     - SYS_ADMIN
  #     - DAC_READ_SEARCH
  #   security_opt:
  #     - apparmor:unconfined
  #   environment:
  #     - LOG_LEVEL=info
  #   volumes:
  #     - ${APP_DATA}/music-assistant:/data
  #     - ${DATA}/media/music:/music
  #   # ports:
  #   #   - 8095:8095
  #   restart: unless-stopped
    
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    ports:
      - 7878:7878
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/radarr:/config
      - ${DATA}:/data
      - ${APP_DATA}/radarr/custom-services.d:/custom-services.d
      - ${APP_DATA}/radarr/custom-cont-init.d:/custom-cont-init.d
    restart: unless-stopped
    labels:
      npm.proxy.domain: radarr.${DOMAIN_NAME}
      npm.proxy.port: "7878"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/radarr.png
      net.unraid.docker.webui: http://radarr.${DOMAIN_NAME}

  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    ports:
      - 8989:8989
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/sonarr:/config
      - ${DATA}:/data
      - ${APP_DATA}/sonarr/custom-services.d:/custom-services.d
      - ${APP_DATA}/sonarr/custom-cont-init.d:/custom-cont-init.d
    restart: unless-stopped
    labels:
      npm.proxy.domain: sonarr.${DOMAIN_NAME}
      npm.proxy.port: "8989"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/sonarr.png
      net.unraid.docker.webui: http://sonarr.${DOMAIN_NAME}

  lidarr:
    container_name: lidarr
    image: ghcr.io/linuxserver-labs/prarr:lidarr-plugins
    ports:
      - 8686:8686
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/lidarr:/config
      - ${DATA}:/data
      - ${APP_DATA}/lidarr/custom-services.d:/custom-services.d
      - ${APP_DATA}/lidarr/custom-cont-init.d:/custom-cont-init.d
    restart: unless-stopped
    labels:
      npm.proxy.domain: lidarr.${DOMAIN_NAME}
      npm.proxy.port: "8686"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/lidarr.png
      net.unraid.docker.webui: http://lidarr.${DOMAIN_NAME}

  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    ports:
      - 6767:6767
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/lidarr:/config
      - ${DATA}:/data
    restart: unless-stopped
    labels:
      npm.proxy.domain: bazarr.${DOMAIN_NAME}
      npm.proxy.port: "6767"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/bazarr.png
      net.unraid.docker.webui: http://bazarr.${DOMAIN_NAME}

  profilarr:
      container_name: profilarr
      image: santiagosayshey/profilarr:latest
      ports:
          - 6868:6868
      volumes:
          - ${APP_DATA}/profilarr:/config
      environment:
          TZ: ${TZ}
      restart: unless-stopped
      labels:
        npm.proxy.domain: profilarr.${DOMAIN_NAME}
        npm.proxy.port: "6868"
        net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/profilarr.png
        net.unraid.docker.webui: http://profilarr.${DOMAIN_NAME}

  suwayomi:
    container_name: suwayomi
    image: ghcr.io/suwayomi/suwayomi-server:preview
    user: ${PUID}:${PGID}
    environment:
      TZ: ${TZ}
      FLARESOLVERR_ENABLED: true
      FLARESOLVERR_URL: http://flaresolverr:8191
    volumes:
      - ${APP_DATA}/suwayomi:/home/suwayomi/.local/share/Tachidesk
      - ${DATA}:/data
    ports:
      - "4567:4567"
    restart: unless-stopped
    labels:
      npm.proxy.domain: suwayomi.${DOMAIN_NAME}
      npm.proxy.port: "4567"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/suwayomi.png
      net.unraid.docker.webui: http://suwayomi.${DOMAIN_NAME}

  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    ports:
      - 9696:9696
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/prowlarr:/config
    restart: unless-stopped
    labels:
      npm.proxy.domain: prowlarr.${DOMAIN_NAME}
      npm.proxy.port: "9696"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/prowlarr.png
      net.unraid.docker.webui: http://prowlarr.${DOMAIN_NAME}

  agregarr:
    container_name: agregarr
    image: agregarr/agregarr:latest
    ports:
      - 7171:7171
    environment:
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/agregarr:/app/config
      - ${DATA}:/data
    restart: unless-stopped
    labels:
      npm.proxy.domain: agregarr.${DOMAIN_NAME}
      npm.proxy.port: "7171"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/agregarr.png
      net.unraid.docker.webui: http://agregarr.${DOMAIN_NAME}

  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:latest
    ports:
      - 8080:8080
    environment:
      PGID: ${PGID}
      PUID: ${PUID}
      TZ: ${TZ}
      UMASK: 002
    volumes:
      - ${APP_DATA}/qbittorrent:/config
      - ${DATA}/torrents:/data/torrents
    restart: unless-stopped
    labels:
      npm.proxy.domain: torrent.${DOMAIN_NAME}
      npm.proxy.port: "8080"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/qbittorrent.png
      net.unraid.docker.webui: http://torrent.${DOMAIN_NAME}

  slskd:
    container_name: slskd
    image: slskd/slskd
    user: ${PUID}:${PGID}
    ports:
      - "5030:5030"
      - "5031:5031"
      - "50300:50300"
    environment:
      SLSKD_DOWNLOADS_DIR: /data/slskd/downloads
      SLSKD_INCOMPLETE_DIR: /data/slskd/incomplete
      SLSKD_PASSWORD: ${DEFAULT_APP_PASSWORD}
      SLSKD_REMOTE_CONFIGURATION: true
      SLSKD_SLSK_PASSWORD: ${SOULSEEK_PASSWORD}
      SLSKD_SLSK_USERNAME: ${SOULSEEK_USERNAME}
      SLSKD_USERNAME: ${DEFAULT_APP_USERNAME}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/slskd:/app
      - ${DATA}:/data
    restart: unless-stopped
    labels:
      npm.proxy.domain: slskd.${DOMAIN_NAME}
      npm.proxy.port: "5030"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/slskd.png
      net.unraid.docker.webui: http://slskd.${DOMAIN_NAME}
