name: utilities

networks:
  default:
    name: ${NETWORK_NAME}
    external: true

services:
  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower:1.12.5
    hostname: SKULLSERVER
    environment:
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: "discord://${DISCORD_TOKEN}@${DISCORD_ID}"
      WATCHTOWER_SCHEDULE: "0 0 * * *" # every 12:00 AM every day
      TZ: ${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APP_DATA}/watchtower/config.json:/config.json
    restart: unless-stopped
    labels:
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/watchtower.png

  speedtest-tracker:
    container_name: speedtest-tracker
    image: lscr.io/linuxserver/speedtest-tracker:latest
    ports:
      - "8081:80"
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      SPEEDTEST_SCHEDULE: 0 */2 * * *
      PRUNE_RESULTS_OLDER_THAN: 90
      TZ: ${TZ}
      APP_KEY: ${SPEEDTEST_APP_KEY}
    volumes:
      - ${APP_DATA}/speedtest-tracker:/config
    restart: unless-stopped
    labels:
      npm.proxy.domain: speedtest.${DOMAIN_NAME}
      npm.proxy.port: "8081"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/speedtest-tracker.png
      net.unraid.docker.webui: http://speedtest.${DOMAIN_NAME}

  meralco-ph:
    container_name: meralco-ph
    image: ghcr.io/rairulyle/meralco-ph:latest
    ports:
      - "5000:5000"
    environment:
      TZ: ${TZ}
    restart: unless-stopped

  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:5
    network_mode: host
    environment:
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/upsnap:/app/pb_data
    restart: unless-stopped
    labels:
      npm.proxy.domain: upsnap.${DOMAIN_NAME}
      npm.proxy.port: "8090"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/upsnap.png
      net.unraid.docker.webui: http://upsnap.${DOMAIN_NAME}

  tautulli:
    container_name: tautulli
    image: lscr.io/linuxserver/tautulli:latest
    ports:
      - 8181:8181
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/tautulli:/config
    restart: unless-stopped
    labels:
      npm.proxy.domain: tautulli.${DOMAIN_NAME}
      npm.proxy.port: "8181"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/tautulli.png
      net.unraid.docker.webui: http://tautulli.${DOMAIN_NAME}

  profilarr:
    container_name: profilarr
    image: santiagosayshey/profilarr:latest
    ports:
        - 6868:6868
    volumes:
        - ${APP_DATA}/profilarr:/config
    environment:
        TZ: ${TZ}
    restart: unless-stopped
    labels:
      npm.proxy.domain: profilarr.${DOMAIN_NAME}
      npm.proxy.port: "6868"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/profilarr.png
      net.unraid.docker.webui: http://profilarr.${DOMAIN_NAME}

  huntarr:
    container_name: huntarr
    image: huntarr/huntarr:latest
    ports:
      - "9705:9705"
    volumes:
      - ${APP_DATA}/huntarr:/config
    environment:
      TZ: ${TZ}
    restart: unless-stopped
    labels:
      npm.proxy.domain: huntarr.${DOMAIN_NAME}
      npm.proxy.port: "9705"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/huntarr.png
      net.unraid.docker.webui: http://huntarr.${DOMAIN_NAME}
      
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
      UMASK_SET: 002
      serverIP: 0.0.0.0
      serverPort: 8266
      webUIPort: 8265
      internalNode: false
      inContainer: true
      ffmpegVersion: 7
      auth: false
      openBrowser: true
      maxLogSizeMB: 10
      cronPluginUpdate: ""
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
    volumes:
      - ${APP_DATA}/tdarr/server:/app/server
      - ${APP_DATA}/tdarr/configs:/app/configs
      - ${APP_DATA}/tdarr/logs:/app/logs
      - ${DATA}:/mnt/data
      - /mnt/user/mosou:/mnt/mosou
      - ${DATA}/cache:/temp
    restart: unless-stopped
    labels:
      npm.proxy.domain: tdarr.${DOMAIN_NAME}
      npm.proxy.port: "8265"
      net.unraid.docker.icon: https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/tdarr.png
      net.unraid.docker.webui: http://tdarr.${DOMAIN_NAME}