name: utilities

services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    ports:
      - 3000:3000
    environment:
      PUID: 1000
      PGID: 999
      HOMEPAGE_ALLOWED_HOSTS: ${DOMAIN_NAME}
    volumes:
      - ${APP_DATA}/homepage:/app/config
      - ${DATA}:/media
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    labels:
      npm.proxy.domain: ${DOMAIN_NAME}
      npm.proxy.port: "3000"

  watchtower:
    container_name: watchtower
    image: nickfedor/watchtower:latest
    hostname: SKULLSERVER
    command: nginx-proxy-manager npm-docker-sync adguardhome adguardhome-sync flaresolverr homepage speedtest-tracker scrutiny meralco-ph upsnap tautulli plex plextraktsync overseerr radarr sonarr lidarr bazarr prowlarr agregarr qbittorrent qui slskd lidify watchtower
    environment:
      WATCHTOWER_CLEANUP: true
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: "discord://${DISCORD_TOKEN}@${DISCORD_ID}"
      WATCHTOWER_SCHEDULE: "0 0 * * *" # every 12:00 AM every day
      TZ: ${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${APP_DATA}/watchtower/config.json:/config.json
    restart: unless-stopped

  speedtest-tracker:
    container_name: speedtest-tracker
    image: lscr.io/linuxserver/speedtest-tracker:latest
    ports:
      - "8081:80"
    environment:
      PUID: 1000
      PGID: 1000
      SPEEDTEST_SCHEDULE: 0 */2 * * *
      PRUNE_RESULTS_OLDER_THAN: 90
      TZ: ${TZ}
      APP_KEY: ${SPEEDTEST_APP_KEY}
    volumes:
      - ${APP_DATA}/speedtest-tracker:/config
    restart: unless-stopped
    labels:
      homepage.group: Network
      homepage.name: Speedtest
      homepage.icon: librespeed.png
      homepage.href: http://speedtest.${DOMAIN_NAME}
      homepage.widget.type: speedtest
      homepage.widget.url: http://${IP_ADDRESS}:8081
      npm.proxy.domain: speedtest.${DOMAIN_NAME}
      npm.proxy.port: "8081"

  scrutiny:
    container_name: scrutiny
    image: ghcr.io/analogj/scrutiny:master-omnibus
    cap_add:
      - SYS_RAWIO
    devices:
      - "/dev/sda"
      - "/dev/sdb"
      - "/dev/sdc"
    ports:
      - "8083:8080" # webapp
      - "8086:8086" # influxDB admin
    volumes:
      - /run/udev:/run/udev:ro
      - ${APP_DATA}/scrutiny/config:/opt/scrutiny/config
      - ${APP_DATA}/scrutiny/influxdb:/opt/scrutiny/influxdb
    restart: unless-stopped
    labels:
      homepage.group: Health
      homepage.name: S.M.A.R.T Monitoring
      homepage.icon: scrutiny.png
      homepage.href: http://scrutiny.${DOMAIN_NAME}
      homepage.widget.type: scrutiny
      homepage.widget.url: http://${IP_ADDRESS}:8083
      npm.proxy.domain: scrutiny.${DOMAIN_NAME}
      npm.proxy.port: "8083"

  meralco-ph:
    container_name: meralco-ph
    image: ghcr.io/rairulyle/meralco-ph:latest
    ports:
      - "5000:5000"
    environment:
      TZ: ${TZ}
    restart: unless-stopped

  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:5
    network_mode: host
    environment:
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/upsnap:/app/pb_data
    restart: unless-stopped
    labels:
      npm.proxy.domain: upsnap.${DOMAIN_NAME}
      npm.proxy.port: "8090"

  tautulli:
    container_name: tautulli
    image: lscr.io/linuxserver/tautulli:latest
    ports:
      - 8181:8181
    environment:
      PUID: 1000
      PGID: 1000
      TZ: ${TZ}
    volumes:
      - ${APP_DATA}/tautulli:/config
    restart: unless-stopped
    labels:
      npm.proxy.domain: tautulli.${DOMAIN_NAME}
      npm.proxy.port: "8181"
